<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">

	<!-- Base Module Properties -->
	<id>pihmalawi</id>
	<name>PIH Malawi Customizations</name>
	<version>0.3</version>
	<package>org.openmrs.module.pihmalawi</package>
	<author>Christian Neumann</author>
	<description>PIH Malawi Implementation Module</description>
	<activator>org.openmrs.module.pihmalawi.ModuleActivator</activator>
	<require_version>1.5.2</require_version>

	<require_modules>
		<require_module>org.openmrs.module.reporting</require_module>
	</require_modules>

	<!-- DWR -->

	<!--
		Internationalization (All message codes should start with
		@MODULE_ID@.*)
	-->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.pihmalawi.extension.html.AdminList</class>
	</extension>
</module>