*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
*.omod

.classpath
.idea
.project
.settings/*
target

omod/.rubygems
omod/.rubygems-provided
omod/src/main/compass/.sass-cache
omod/src/main/compass/sass-external