*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
*.omod

.DS_Store
.classpath
.idea
.project
.settings/*
target


# SASS
*.css
*.css.map
omod/node
omod/node_modules
omod/src/main/webapp/resources/styles/lib/
omod/src/main/compass/.sass-cache
omod/src/main/compass/sass-external
omod/.rubygems
