<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">

	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Partners In Health</author>
	<description>PIH Malawi Implementation Module</description>
	<activator>org.openmrs.module.pihmalawi.activator.PihMalawiModuleActivator</activator>
	<require_version>1.9.7</require_version>

	<require_modules>
        <require_module version="${addresshierarchyVersion}">org.openmrs.module.addresshierarchy</require_module>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
        <require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
        <require_module version="${emrapiVersion}">org.openmrs.module.emrapi</require_module>
        <require_module version="${eventVersion}">org.openmrs.event</require_module>
        <require_module version="${groovyVersion}">org.openmrs.module.groovy</require_module>
        <require_module version="${htmlformentryVersion}">org.openmrs.module.htmlformentry</require_module>
        <require_module version="${htmlformentryuiVersion}">org.openmrs.module.htmlformentryui</require_module>
        <require_module version="${htmlwidgetsVersion}">org.openmrs.module.htmlwidgets</require_module>
        <require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
        <require_module version="${logicVersion}">org.openmrs.logic</require_module>
        <require_module version="${metadatadeployVersion}">org.openmrs.module.metadatadeploy</require_module>
        <require_module version="${metadatamappingVersion}">org.openmrs.module.metadatamapping</require_module>
        <require_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</require_module>
        <require_module version="${namephoneticsVersion}">org.openmrs.module.namephonetics</require_module>
        <require_module version="${providermanagementVersion}">org.openmrs.module.providermanagement</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
        <require_module version="${reportingcompatibilityVersion}">org.openmrs.module.reportingcompatibility</require_module>
        <require_module version="${reportingrestVersion}">org.openmrs.module.reportingrest</require_module>
        <require_module version="${reportinguiVersion}">org.openmrs.module.reportingui</require_module>
        <require_module version="${serializationVersion}">org.openmrs.module.serialization.xstream</require_module>
        <require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${uilibraryVersion}">org.openmrs.module.uilibrary</require_module>
        <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.PihMalawiActivator</activator>

	<globalProperty>
		<property>pihmalawi.upperOrLowerNeno</property>
		<defaultValue>UPPER_NENO</defaultValue>
		<description>Valid values are UPPER_NENO or LOWER_NENO</description>
	</globalProperty>

    <globalProperty>
        <property>pihmalawi.excelPassword</property>
        <defaultValue></defaultValue>
        <description>Password that is used to encrypt patient data export reports</description>
    </globalProperty>

    <globalProperty>
        <property>pihmalawi.showOldChronicCareCard</property>
        <defaultValue>true</defaultValue>
        <description>Indicates whether or not to enable the link to the previous version of the CCC Mastercard</description>
    </globalProperty>

    <globalProperty>
        <property>dashboard.identifiers</property>
        <defaultValue>{"9":["ARV Number","HCC Number","KS Number","Chronic Care Number","Palliative Care Number"]}</defaultValue>
        <description></description>
    </globalProperty>

    <globalProperty>
        <property>patient_identifier.importantTypes</property>
        <defaultValue>ARV Number,HCC Number,Chronic Care Number,Palliative Care Number</defaultValue>
        <description>A comma delimited list of PatientIdentifier names : PatientIdentifier locations that will be displayed on the patient dashboard.  E.g.: ARV Number,Chronic Care Number</description>
    </globalProperty>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.pihmalawi.web.extension.AdminList</class>
	</extension>

    <extension>
        <point>org.openmrs.gutter.tools</point>
        <class>org.openmrs.module.pihmalawi.web.extension.ChwHeaderLinkExt
        </class>
    </extension>

    <extension>
        <point>org.openmrs.patientDashboard.overviewBox</point>
        <class>org.openmrs.module.pihmalawi.web.extension.MalawiPatientDashboardBoxExt</class>
    </extension>

    <extension>
        <point>org.openmrs.patientDashboard.Header</point>
        <class>org.openmrs.module.pihmalawi.web.extension.PrintableSummaryExtension</class>
    </extension>

    <privilege>
        <name>CHW Management App</name>
        <description>Allows access to the CHW Management App</description>
    </privilege>

</module>