<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">

	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Partners In Health</author>
	<description>PIH Malawi Implementation Module</description>
	<activator>org.openmrs.module.pihmalawi.activator.PihMalawiModuleActivator</activator>
	<require_version>1.9.7</require_version>

	<require_modules>
        <require_module version="${addresshierarchyVersion}">org.openmrs.module.addresshierarchy</require_module>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
        <require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
        <require_module version="${eventVersion}">org.openmrs.event</require_module>
        <require_module version="${facilitydataVersion}">org.openmrs.module.facilitydata</require_module>
        <require_module version="${groovyVersion}">org.openmrs.module.groovy</require_module>
        <require_module version="${htmlformentryVersion}">org.openmrs.module.htmlformentry</require_module>
        <require_module version="${htmlformentry19extVersion}">org.openmrs.module.htmlformentry19ext</require_module>
        <require_module version="${htmlformflowsheetVersion}">org.openmrs.module.htmlformflowsheet</require_module>
        <require_module version="${htmlwidgetsVersion}">org.openmrs.module.htmlwidgets</require_module>
        <require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
        <require_module version="${logicVersion}">org.openmrs.logic</require_module>
        <require_module version="${metadatadeployVersion}">org.openmrs.module.metadatadeploy</require_module>
        <require_module version="${metadatamappingVersion}">org.openmrs.module.metadatamapping</require_module>
        <require_module version="${metadatasharingersion}">org.openmrs.module.metadatasharing</require_module>
        <require_module version="${namephoneticsVersion}">org.openmrs.module.namephonetics</require_module>
        <require_module version="${providermanagementVersion}">org.openmrs.module.providermanagement</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
        <require_module version="${reportingcompatibilityVersion}">org.openmrs.module.reportingcompatibility</require_module>
        <require_module version="${reportingrestVersion}">org.openmrs.module.reportingrest</require_module>
        <require_module version="${reportinguiVersion}">org.openmrs.module.reportingui</require_module>
        <require_module version="${serializationVersion}">org.openmrs.module.serialization.xstream</require_module>
        <require_module version="${syncVersion}">org.openmrs.module.sync</require_module>
        <require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${uilibraryVersion}">org.openmrs.module.uilibrary</require_module>
        <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<globalProperty>
		<property>pihmalawi.upperOrLowerNeno</property>
		<defaultValue>UPPER_NENO</defaultValue>
		<description>Valid values are UPPER_NENO or LOWER_NENO</description>
	</globalProperty>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.pihmalawi.web.extension.AdminList</class>
	</extension>

    <extension>
        <point>org.openmrs.patientDashboard.overviewBox</point>
        <class>org.openmrs.module.pihmalawi.web.extension.MalawiPatientDashboardBoxExt</class>
    </extension>

</module>